name: action
on: [push, workflow_dispatch]
jobs:
  clean-files:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup-java
        uses: actions/setup-java@v3
        with:
          distribution: oracle
          java-version: 17
      - name: Run-main
      - run: mvn compile exec:java
      - name: Create Pull Request
        run:
          git config --local user.name actions-user
          git config --local user.email "actions@github.com"
          if ! git diff --exit-code; then
              git add -A
              git commit -am "Action Files added $(date)"
              git push -f origin master
          fi
